html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.title {
    height: 5%;
    font-weight: bold;
    font-size: 15pt;
    padding-left: 10pt;
    padding-top: 1px;
}

